.fondo{
    background-color:burlywood ;
}
.contenedorCalculadora{
    height: 70vh;
    width: 40vw;
    background-color: rgba(27, 27, 133, 0.381);
    border-radius: 50px;
}
.pantalla{
    height: 20%;
    width : 80%;
    background-color: brown;
}
.boton1{
    height: 50px;
    width: 50px;
    background-color: rgb(118, 41, 12);

}